  .logo {
    width: 15%;
    justify-content: center;
    box-sizing: border-box;
  }
  .logo img{
    height: auto;
    object-fit: cover;
  }
  .search {
      width: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
  }

  .search img{
      width:10%;
      border: 1px solid navy;
  }
  .search input[type=text]{
      width: 50%;
      border: 1px solid navy;
  }
  
  .account{
      display: grid;
      position: relative;
      z-index: 3;
      gap:16px;
      justify-content: end;
      justify-items: end;
      align-items: center;
      grid-auto-flow: column dense;
  }

  .account .sign{
      display: grid;
      gap: 16px;
      grid-auto-flow: column dense;
  }
  .account .wrap-service{
      position: relative;
      z-index: 2;
  }