.middle{
    width: 1264px;
    margin-top: 20px;
    padding: 20px;
}

.main-contents-head{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 20px;   
}

.head-title{
    padding-left: 4px;
    font-size: 1.25rem;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head-title-func{
    display: flex;
    position: absolute;
    top:50%;
    right: 0;
    align-items: center;
    transform: translateY(-50%);
}

.head-title-func input[type="button"]{
    border: 1px solid #d5d9df;
    color:#666c76 ;
    display: inline-block;
    vertical-align: top;
    width: 79px;
    height: 30px;
    border-radius: 4px;
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8125rem;
    text-align: center;
    line-height: 28px;
}

.contents{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

}

ul,ol{
    list-style: none;
}

.contents li{
  overflow: unset;
  float: left;
  position: relative;
  width: calc(22% - 15px);
  height: 240px;
  margin: 20px 0 0 40px;
  border-radius: 12px;
  background-color: #fff;
}

.contents-card{
    border: 1px solid #ffe000;
}

.contents-card:hover{
    transform: scale(1.1);
}

.contents-card-info{
    border-radius: 12px;
    display: block;
    height: 100%;
    background-color: #fff;
    
}

a{
    text-decoration: none;
}

.contents-card-info .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 51px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    text-align: center;
}

.contents-card-info .company{
  overflow: hidden;
  display: block;
  margin-bottom: 6px;
  font-size: .9375rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contents-card-info .title{
    overflow: hidden;
    display: block;
    height: 48px;
    margin-bottom: 10px;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.4;    
}

.contents-card-info .wrap{
    display: block;   
}

.contents-card-info .wrap .local{
    padding-left: 18px;
    line-height: 16px;
    color: #595e69;
    font-size: .875rem;  
}

.contents-card-info .wrap .local img{
    width: 20px;
    height: 20px;
    object-fit: contain;
    display: inline-block;
    margin-right: 10px;
}

.contents-card-info .wrap .pay{
    display: flex;
    margin-top: 6px;
    font-size: .875rem;
    font-weight: 700;
    color: #4c515b;
}

.contents-card-info .wrap .pay{
    display: flex;
    margin-top: 6px;
    font-size: .875rem;
    font-weight: 700;
    color: #4c515b;
    justify-content: center;
    
}

.contents-card-info .wrap .pay .timepay{
    color: #19891e;
    margin-right: 2px;
}

.contents-card-info .wrap .pay .money{
   margin-left: 1px;

}

img{
    object-fit: cover;
}